* {
  background-color: white;
}
@font-face {
  font-family: Dscript;
  src: url(DancingScript-VariableFont_wght.ttf);
}

main {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-flow: row;
  justify-content: center;
}

footer {
}

.login-box {
  margin-bottom: 20px;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 400px;
  height: 350px;
  border: 1px solid lightgrey;
}

.landingIMG {
  width: 500px;
  height: 500px;
  margin-right: 20px;
}

h1 {
  font-family: Dscript;
  margin-top: 40px;
  font-size: 60px;
}

#h3noacc {
  margin-left: 150px;
  margin-right: 100px;
}

header {
  margin-bottom: 100px;
}

.noaccbox {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 100px;
  border: 1px solid lightgrey;
}

.appIMG {
  width: 153px;
  height: 45px;
}

.getapp {
  width: 400px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: space-between;
}
